#Logs--------------------------------------------------------------
#Logdirectory
logs
#Logfiles
*.log
#npmdebuglogfiles
npm-debug.log*
#pnpmdebuglogfiles
pnpm-debug.log*
#lernadebuglogfiles
lerna-debug.log*

#DependencyDirectories---------------------------------------------
#Node.jsmodulesdirectory
node_modules

#BuildDirectories--------------------------------------------------
#Distributiondirectory
dist
#Server-siderenderingdistributiondirectory
dist-ssr

#LocalEnvironmentFiles---------------------------------------------
#Localenvironmentconfigurationfiles
*.local

#EditorDirectories&Files-------------------------------------------
#IncludeVSCodeextensionsconfiguration
!.vscode/extensions.json
#JetBrainsIDEprojectfiles
.idea
#macOSFindermetadatafiles
.DS_Store
#VisualStudiosolutionuseroptionsfiles
*.suo
#Node.jsToolsforVisualStudiofiles
*.ntvs*
#Node.jsprojectfilesforVisualStudio
*.njsproj
#VisualStudiosolutionfiles
*.sln
#Swapfiles(e.g.,forVim)
*.sw?

#LockFiles---------------------------------------------------------