#Logs--------------------------------------------------------------
#Logdirectory
logs
#Logfiles
*.log
#npmdebuglogfiles
npm-debug.log*
#pnpmdebuglogfiles
pnpm-debug.log*
#lernadebuglogfiles
lerna-debug.log*

#DependencyDirectories---------------------------------------------
#Node.jsmodulesdirectory
node_modules

#BuildDirectories--------------------------------------------------
#Distributiondirectory
dist
#Server-siderenderingdistributiondirectory
dist-ssr

#LocalEnvironmentFiles---------------------------------------------
#Localenvironmentconfigurationfiles
*.local

#myBoomerCodeSnippets----------------------------------------------
src/components/Infopanel
src/components/Wikipedia
src/components/Workspace
src/components/WorkspaceBackground
src/components/WorkspaceEcharts